<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
  {% block headers %}
    <meta charset="utf-8" />
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />
    
    <link rel="alternate" type="application/atom+xml"
                           title="{{ SITENAME }} — Flux Atom"
                           href="{{ SITEURL }}/{{ FEED }}" /> 
    
    {% if FEED_RSS %}
    <link rel ="alternate" type="application/rss+xml"
                           title="{{ SITENAME }} — Flux RSS"
                           href="{{ SITEURL }}/{{ FEED_RSS }}" /> 
    {% endif %}
    <!--[if lte IE 8]><script src="{{ SITEURL }}/theme/js/html5shiv.js"></script><![endif]-->
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />

      {% if SPAMTRAP %}
	<a href="{{ SPAMTRAP }}"></a>
    {% endif %}

  {% endblock headers %}
  </head>
  <body>
    <div class="page">
      <header class="page-head">
      
        <h1>
          <a href="{{ SITEURL }}/index.html">{{ SITENAME }}</a>
        </h1>
      </header>

      <div class="page-content">
        {% block content %}
        {% endblock content %}
      </div>

      {% include "sidebar.html" %} 

      <footer class="page-footer">
        <p> {{ FOOTER_TEXT or 'Porté par <a href="http://pelican.readthedocs.org">Pelican</a> et <a href="http://www.openbsd.org/">OpenBSD</a>' }}</p>
      </footer>
    </div>
  </body>
</html>
